/* stylelint-disable no-descending-specificity */

/* ==========================
   HEADER + NAV WRAPPER
========================== */

header .nav-wrapper {
    background-color: var(--bg-primary);
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* ==========================
   AUTHORABLE TOP STRIP
   (Universal Editor)
========================== */

header .nav-wrapper .fragment-container {
    background-color: var(--bg-secondary);
    color: var(--bg-primary);
    box-sizing: border-box;
    width: 100%;
    align-items: start;
    padding: 0 0.75rem;
    padding-bottom: .3125rem !important;
    padding-top: .5rem !important;

}

@media (width >= 48em) {
    header .nav-wrapper .fragment-container {
        padding-top: .625rem !important;
        padding-bottom: .625rem !important;
    }
}

@media (width >= 48em) {
    header .nav-wrapper .fragment-container .default-content-wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1216px;
        padding-right: calc(var(--bs-gutter-x, 32px) * .5);
        padding-left: calc(var(--bs-gutter-x, 32px) * .5);
    }
}

header .nav-wrapper .fragment-container p {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

@media (width < 62em) {
    header .nav-wrapper .fragment-container p {
        text-align: center;
        margin: 0 auto;
        padding-inline: 0.75rem;

    }
}

header .nav-wrapper .fragment-container p a {
    color: var(--bg-primary);
    text-decoration: underline;
}

header .nav-wrapper .fragment-container p a:hover{
    text-decoration: none;
}

/* ==========================
   NAV
========================== */

header nav {
    box-sizing: border-box;
    font-family: var(--body-font-family);
    align-items: center;
}

@media (width < 48em){
    header nav {
    box-sizing: border-box;
    font-family: var(--body-font-family);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 14px;
    padding-inline: 16px;
}
}

/* ==========================
   DESKTOP
========================== */

@media (width >=  48em) {
    header nav {
        display: flex;
        justify-content: space-between;
        max-width: 1216px;
        padding: 1.25rem 0;

    --bs-gutter-x: 32px;
    --bs-gutter-y: 0;

    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    }

    header nav[aria-expanded="true"] {
        overflow: visible;
    }
}

/* ==========================
   COMMON ELEMENTS
========================== */

header nav p {
    margin: 0;
    line-height: 1;
}

header nav a:any-link {
    background-color: transparent;
}

/* ==========================
   BUTTONS
========================== */

header nav a.button:any-link,
button {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    font-family: var(--body-font-family);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    background-color: var(--bg-primary);
    cursor: pointer;
    white-space: nowrap;
    padding: 8px;
    color: var(--background-color);
}

header nav a.button:hover,
a.button:focus,
button:hover,
button:focus {
    color: var(--bg-secondary);
}

@media (width <  48em) {
    header nav .nav-sections .button[aria-current="page"] {
        color: var(--bg-secondary);
        font-weight: 700;
    }
}

@media (width <  48em) {
    header nav a.button:hover,
    header nav a.button:active,
    header nav a.button:focus {
        color: var(--bg-secondary);
        transition: color 0.4s ease-in-out;
    }

    header nav a.button.btn-nav,
    button.btn-nav {
        background-color: unset;
        color: var(--bg-secondary);
    }

    header nav .nav-drop a:any-link {
        font-size: 20px;
        font-weight: 700;
    }
}

@media (width >=  48em) {
    header nav a.button {
        text-decoration: none;
    }
}

header nav a.button:active {
    color: var(--light-color);
}

header nav a.button.btn-nav,
button.btn-nav {
    background-color: unset;
    color: var(--bg-secondary);
}

/* ==========================
   HAMBURGER
========================== */

header nav .nav-hamburger {
    padding-right: 28px;
}

header nav .nav-hamburger button {
    padding: 0;
    cursor: pointer;
    background: transparent; 
    border: none;
    outline: none;
    box-shadow: none;
    color: var(--background-color);
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -14px;
}

/* hamburger icon */

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    display: block;
    width: 20px;
    position: relative;
    background: currentcolor;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: "";
    position: absolute;
    background: currentcolor;
    transition: all 0.3s ease;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    height: 1px;
    border-radius: 2px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: 6px;
    transform: rotate(45deg);
    width: 24px;
    height: 1px;
    left: 12px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    transform: rotate(-45deg);
    top: 6px;
    left: 12px;
}

@media (width >=  48em) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

/* ==========================
   BRAND
========================== */


@media (width < 48em){
header .nav-brand {
    padding-left: 28px;
    max-width: 73px;
    margin-bottom: 0.875rem;
    max-height: 40px;
}
}

@media (width <= 62em){
    header .nav-brand {
    padding-left: 0.75rem;
} 
}

@media (width >= 48em){
   header .nav-brand {
    max-width: 102px;
    margin-bottom: 0;
} 
}

header .nav-brand img{
    max-width: 100%;
    height: auto;
}

/* ==========================
   SECTIONS
========================== */

header nav .nav-sections {
    display: none;
    visibility: hidden;
}

header nav .nav-sections .default-content-wrapper {
    display: flex;
    justify-content: center;
}



@media (width < 48em) {
    header nav .nav-sections .default-content-wrapper {
        justify-content: flex-start;
        padding-inline: 28px;
        padding-block: 38px 25px;
        flex-direction: column-reverse;
    }

    body:has(nav[aria-expanded='true']) {
    overflow: visible;
}
}

@media (width >=  48em) {
    header nav {
        display: flex;
        align-items: center;
    }

    header nav .nav-brand {
        flex: 0 0 auto;
    }

    header nav .nav-sections {
        display: flex;
        justify-content: center;
    }

    header nav .social-icons {
        flex: 0 0 auto;
    }

    header nav .nav-sections .default-content-wrapper {
        justify-content: flex-end;
    }

     header nav[aria-expanded="true"] .social-icons,
    header nav[aria-expanded="true"] .nav-sections {
        display: block;
        visibility: visible;
    }

     header nav[aria-expanded="true"] .nav-sections .social-icons{
        display: flex;
        flex-direction: row;
        max-width: 304px;
        justify-content: space-between;
        margin-block: 0;
        padding-right: 32px;
    }
}

@media (width < 48em) {
    /* Icons first */
    header nav[aria-expanded="true"] .social-icons {
        background: var(--background-color);
    }

    /* Nav items next */
    header nav[aria-expanded="true"] .nav-sections {
        padding: 0;
        background: var(--background-color);
    }

    header nav[aria-expanded="true"] .nav-sections .inline-menu  {
        display: flex;
        flex-direction: column;
        margin-top: 34px;
    }

    header nav[aria-expanded="true"] .nav-sections .social-icons{
        display: flex;
        flex-direction: row;
        max-width: 304px;
        justify-content: space-between;
        margin-block: 0;
    }
}

@media (width <  48em) {
    header nav[aria-expanded="true"] {
        flex-wrap: wrap;
    }

    header nav .social-icons .default-content-wrapper p {
        display: flex;
        justify-content: space-between;
        max-width: 304px;
    }

    header nav[aria-expanded="true"] .nav-sections {
    display: block;
    visibility: visible;
    width: 100%;
    height: calc(100vh - 103px);
    overflow-y: auto; 
}
}

header nav .nav-sections ul {
    list-style: none;
    padding-left: 0;
}

@media (width >= 62em){
    header nav .nav-sections ul.inline-menu {
        display: flex;
        gap: 40px;
        margin: 0;
    }

    header nav .nav-sections ul.inline-menu li:last-child {
        margin-right: 2.5rem;
    }
}

@media (48em <= width < 62em) {
header nav .nav-sections ul.inline-menu {
        display: flex;
        gap: 20px;
        margin: 0;
    } 

    header nav .nav-sections ul.inline-menu li:last-child {
        margin-right: 1.25rem;
    }
}

@media ( width >= 48em) {
    header nav .nav-sections {
        display: block;
        visibility: visible;
    }

    header nav .nav-brand{
        height: 56px;
    }

    .nav-sections .inline-menu li a{
        color: var(--background-color);
    } 

     header nav .nav-sections ul.social-icons {
        display: flex;
        align-items: center;
        margin: 0;
        padding-right: 1rem;
    }

    header nav .nav-sections ul.social-icons li{
        margin-left: 1.125rem;
    }

    header nav .nav-sections ul.social-icons li:last-child{
        display: none;
    }

    header nav .nav-sections .nav-drop {
        position: relative;
        padding-right: 1rem;
        cursor: pointer;
    }

    header nav .nav-sections .nav-drop::after {
        content: "";
        position: absolute;
        top: 42%;
        right: 8px;
        width: 4px;
        height: 4px;
        border: 1px solid var(--light-color);
        border-width: 1.5px 1.5px 0 0;
        transform: rotate(135deg);
        border-radius: 1px;
    }

    header nav .nav-sections .default-content-wrapper > ul > li > ul {
        display: none;
        position: absolute;
        left: -24px;
        top: 150%;
        min-width: 150px;
        font-size: 1rem;
        font-weight: 500;
        background-color: var(--background-color);
    }

    header
        nav
        .nav-sections
        .default-content-wrapper
        > ul
        > li[aria-expanded="true"]
        > ul {
        display: block;
        position: absolute;
        left: 9px;
        min-width: 150px;
        top: 110%;
        padding-top: 12px;
        border: 1px solid var(--bg-primary);
        border-radius: 14px;
        border-color: var(--bg-primary);
        background-color: var(--background-color);
        white-space: initial;
    }

    .nav-drop ul.inline-menu li a{
        background-color: var(--bg-primary);
    }
}

header nav .nav-sections .nav-drop > ul > li {
  padding-block: 4px 8px;
  padding-inline: 10px;
  margin-bottom: 0.3125rem;
}

header nav .nav-drop > ul{
    padding-block: 0.75rem 0.5rem;
    margin-top: 0.375rem;
}

/* ==========================
   TOOLS
========================== */

header nav .social-icons {
    grid-area: tools;
}

@media (width <  48em) {
    header nav .social-icons {
        display: none;
    }
}


/* TOOLS ICON SYSTEM */

.social-icons a {
  justify-content: center;
}

/* Icon */
.social-icons span.icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: var(--light-color);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color 0.3s ease;
}

.social-icons .icon-icon-instagram {
  mask-image: url("/icons/icon-instagram.svg");
}

.social-icons .icon-icon-tiktok {
  mask-image: url("/icons/icon-tiktok.svg");
}

.social-icons .icon-icon-threads {
  mask-image: url("/icons/icon-threads.svg");
}

.social-icons .icon-icon-email {
  mask-image: url("/icons/icon-email.svg");
}

/* Hover */
.social-icons a:hover span.icon {
  background-color: var(--bg-secondary);
}


.social-icons a:focus-visible span.icon {
  background-color: var(--bg-secondary);
}

.social-icons span.icon img {
  display: none;
}

@media (width >=  48em) {
    header nav .social-icons .icon-icon-email {
        display: none;
    }

     header nav .social-icons .icon {
    background-color: var(--light-color);
  }
}

@media (width <  48em) {
    header nav .social-icons .icon-icon-email {
        display: block;
    }

    header nav .social-icons .icon {
    background-color: var(--bg-primary);
  }
}

@media (width < 48em) {
    header nav[aria-expanded="true"] .nav-hamburger-icon {
        width: 15px;
        height: 14px;
        margin: 0 10px;
        right: 20px;
        background: none;
    }
}

@media (width < 48em) {
    header nav a.button:any-link {
        background-color: var(--background-color);
        color: var(--bg-primary);
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
        padding-inline: 0;
        border-radius: 0;
    }


    header nav .nav-drop > ul{
    padding-block: 0.5rem;
    margin-block: 0;
}

header nav .nav-sections .default-content-wrapper .inline-menu li.nav-drop{
    margin-bottom: 1.5rem;
}

    header nav .nav-sections .default-content-wrapper .inline-menu li.nav-drop p{
    margin-bottom: 0;
} 
}

@media (width < 48em) {
    header nav .nav-sections .default-content-wrapper .inline-menu li{
        margin-bottom: 1.5rem;
    }

    header nav .nav-sections .default-content-wrapper .inline-menu li ul li{
        margin-bottom: 1rem;
    }

    header nav .nav-sections .default-content-wrapper .inline-menu li ul li:last-child{
        margin-bottom: 0;
    }

    header nav .nav-sections .nav-drop > ul > li {
  padding-block: 4px 0;
  padding-inline: 0 10px;
}

header .nav-wrapper .fragment-container p{
    padding-inline: 0;
    padding-block: 8px 5px;
    font-size: 0.875rem;
    line-height: 1.5;
}
}

header nav .nav-sections a.is-active {
  color: var(--bg-secondary);
  font-weight: 500;
}

header nav .nav-sections li.is-active > p > a {
  color: var(--bg-secondary);
}

/* Reset submenu links to default color */
header nav .nav-sections .nav-drop ul a {
  color: var(--bg-primary);
  text-decoration: none;
}

/* Hover: underline only */
header nav .nav-sections .nav-drop ul a:hover {
  text-decoration: underline;
}


header nav .nav-sections .nav-drop ul a.is-active {
  color: inherit;          
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 1px;
}

header nav .nav-sections .nav-drop ul li.is-active > a {
  color: inherit;
}



