.icon-button .anchor-menu-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var( --bg-secondary);
    border:1px solid var(--bg-primary);
    border-radius: 0.875rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
    width: 100%;
    font-weight: 500;
    padding: 0.375rem 0.5rem 0.375rem 1rem;
}

.icon-button .anchor-menu-link:hover {
    box-shadow: 0 2px 8px rgb(var(--shadow-color), 0.15);
    text-decoration: none;
    background-color: var(--teal-color);
    border-color: var(--border-color);
}

.icon-button .anchor-menu-icon {
    box-sizing: border-box;
    border-radius: 9px;
    color: var(--bg-primary);
    cursor: pointer;
    display: block;
    background: var(--white-color);
    border: 1px solid var(--bg-primary);
    padding: 0.4063rem;
    width: 1.75rem;
    height: 1.75rem;
}

.icon-button .anchor-menu-text {
    color: var(--bg-primary);
    cursor: pointer;
    text-align: left;
}

@media (width >= 62em) {
    .icon-button .anchor-menu-link {
        font-size: 1.125rem;
        padding: 0.375rem 0.625rem 0.375rem 1.25rem;
        min-height: 58px;
    }

    .icon-button .anchor-menu-icon {
        width: 37px;
        height: 37px;
        padding: 0.625rem;
    }

    .icon-button .anchor-menu-text {
        font-size: 1.125rem;
    }
}

@media (width >= 48em) {
    .icon-button .anchor-menu-link {
        max-width: 373px;
    }
}