.footer-wrapper {
    background: var(--bg-primary);
    padding: 2.9375rem 0.75rem;
}

.footer-wrapper .row .section {
    min-height: 58px;
    overflow: hidden;
}

@media (width >= 62em){
    .region-logo-otsuka picture{
        margin-bottom: 0;
    }
}

@media (width < 62em){
    .region-logo-otsuka picture{
        max-height: 48px;
    }
}

.region-logo-otsuka picture {
    display: block;
    max-width: 100px;
    margin-bottom: 1rem;
}

.footer-wrapper .row .region-logo .default-content-wrapper picture {
    height: 0;
    display: block;
}

@media (width >= 48em) {
    .footer-wrapper {
        padding-top: 3.75rem;
        padding-bottom: 3.5rem;
        padding-inline: 0.75rem;
    }
}

.container {
    --bs-gutter-x: 32px;
    --bs-gutter-y: 0;

    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
    max-width: 1216px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    width: 100%;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
    box-sizing: content-box;
}

/* 1. REGION LOGO */
.region-logo {
    display: flex;
    justify-content: flex-start;
    flex: 0 0 auto;
}

/* 2. REGION MENU */
.region-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.region-menu .inline-menu {
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.3125rem;
    padding-block: 0.5rem;
}

.region-prc-copyright ul li {
    color: var(--background-color);
    font-size: 0.75rem;
    font-weight: 400;
    list-style: none;
    margin-right: 1.75rem;
}

.region-menu .inline-menu li {
    margin-bottom: 0.3125rem;
    font-weight: 400;
    margin-right: 1.25rem;
}

.region-menu ul li a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
    color: var(--background-color);
}

.region-menu .inline-menu li a {
    padding-inline: 0 1rem;
    padding-block: 0.5rem;
    line-height: 1.5;
    font-weight: 500;
    display: block;
}

@media (width >= 62em){
    .region-menu .inline-menu li a{
        padding-inline: 1rem;
    }
}

.region-menu .social-menu {
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
    max-width: 304px;
    justify-content: space-between;
    margin-top: 1.3125rem;
}

@media (width >= 62em) {
    .row > * {
        box-sizing: border-box;
    }

    .region-logo-otsuka picture {
        display: inline-block;
    }

    .region-logo {
        display: flex;
        justify-content: flex-start;
        flex: 0 0 auto;
        width: 25.70%;
    }

    /* 2. REGION MENU */
    .region-menu {
        display: flex;
        justify-content: flex-end;
        width: 74.3%;
        padding-inline: 16px;
    }

    .region-menu ul {
        display: flex;
        list-style: none;
        padding: 0;
        align-items: flex-start;
    }

    .region-menu .inline-menu li {
        margin-right: 2.5rem;
    }

    .region-menu .social-menu li:last-child {
        margin-right: 0;
    }

    .region-logo-otsuka .default-content-wrapper {
        display: flex;
    }

    .region-prc-copyright p {
        margin-top: 0.25rem;
        color: var(--background-color);
        font-size: 0.75rem;
        font-weight: 400;
        margin-bottom: 0;
    }

    .region-logo-otsuka .default-content-wrapper p {
        margin-top: 0.25rem;
        line-height: 1.5;
        max-width: 522px;
        margin-bottom: 0;
        font-size: 0.75rem;
    }
}

@media (48em < width <=62em) {
    .region-logo-otsuka {
        width: 58.33%;
    }

    .region-logo-otsuka .default-content-wrapper {
        display: flex;
        flex-direction: row;
    }

    .region-logo-otsuka .default-content-wrapper p {
        line-height: 1.5;
        font-size: 0.75rem;
        font-weight: 400;
        margin-top: 0;
    }
}

@media (48em <= width <62em) {
    .region-logo-otsuka .default-content-wrapper p br {
        display: none;
    }

    .region-menu {
        width: 72%;
        padding-right: 0;
    }

    .region-prc-copyright p{
        color: var(--background-color);
        font-size: 0.75rem;
        font-weight: 400;
        margin-block: 0;
    }
}


.region-logo-otsuka .default-content-wrapper p a {
    font-size: 0.75rem;
    color: var(--background-color);
    font-weight: 400;
    display: block;
}

.region-menu ul li a:hover {
    color: var(--nav-color);
    text-decoration: none;
}

@media (width >= 48em) {
    .footer-wrapper .row .section {
        min-height: 58px;
        overflow: hidden;
    }

    .region-menu .default-content-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 0.125rem;
        padding-block: 8px;
    }

    .region-menu .inline-menu {
        flex-direction: row;
        margin-top: 0;
        padding-top: 0;
    }

    .region-menu .social-menu {
        margin-top: 0;
        justify-content: space-between;
        align-items: center;
    }

    .region-menu .social-menu li a {
        margin-left: 1.125rem;
    }

    .region-menu .social-menu li:last-child {
        margin-left: 0;
    }

    .region-logo-otsuka {
        display: flex;
        width: 53.333%;
        box-sizing: border-box;
    }

    .region-logo-otsuka .default-content-wrapper {
        flex-direction: row;
        align-items: flex-start;
    }

    .region-logo-otsuka .default-content-wrapper p a {
        display: inline;
    }

    .region-logo-otsuka .default-content-wrapper p a:hover {
        text-decoration: none;
    }

    .region-prc-copyright {
        display: flex;
        width: 32%;
        justify-content: flex-end;
    }

    .region-menu ul {
        padding-block: 0.5rem;
        flex-direction: row;
    }
}

.region-menu ul li span.icon {
    display: inline-block;
    background-color: var(--background-color);
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: background-color 0.3s ease;
    width: 18px;
    height: 18px;
}

.region-menu .icon-icon-instagram {
    mask-image: url("/icons/icon-instagram.svg");
}

.region-menu .icon-icon-tiktok {
    mask-image: url("/icons/icon-tiktok.svg");
}

.region-menu .icon-icon-threads {
    mask-image: url("/icons/icon-threads.svg");
}

.region-menu .icon-icon-email {
    mask-image: url("/icons/icon-email.svg");
}

.region-logo-otsuka picture img {
    width: 56px;
    height: auto;
}

@media (width >= 62rem){
    .region-logo-otsuka picture img {
    width: 56px;
    height: 57px;
}
}

.region-menu span.icon img {
    display: none;
}

.region-menu a:hover span.icon {
    background-color: var(--bg-secondary);
}

/* Divider after section 3 */
.footer-divider {
    border: none;
    border-top: 1px solid var(--background-color);
    opacity: 0.25;
    margin: 2.9375rem auto;
    max-width: calc(100% - 32px);
    box-sizing: border-box;
}

/* 4. OTSUKA LOGO REGION */
@media (width >= 62em) {
    .region-logo-otsuka {
        display: flex;
        flex: 0 0 auto;
        width: 68%;
        max-height: 58px;
    }

    .footer-divider {
        margin-top: 3.625rem;
        margin-bottom: 3.625rem;
    }
}

@media (width < 48em) {
    .region-logo-otsuka .default-content-wrapper {
        display: flex;
        max-width: 490px;
        align-items: flex-start;
        flex-direction: column;
    }

    .region-prc-copyright {
        display: flex;
        align-items: flex-end;
        font-size: 0.75rem;
        max-width: 267px;
        width: 100%;
        margin-top: 1.375rem;
    }
}

@media (width <= 48em) {
    .region-prc-copyright p {
        color: var(--background-color);
        font-size: 0.75rem;
        font-weight: 400;
        margin-block: 0;
    }

    .region-logo-otsuka .default-content-wrapper p {
        max-width: 490px;
        line-height: 1.5;
        font-size: 0.75rem;
        color: var(--background-color);
        font-weight: 400;
        margin-block: 0;
        display: block;
    }

    /* 5. COPYRIGHT REGION */
    .region-prc-copyright {
        display: flex;
        align-items: flex-end;
        font-size: 0.75rem;
        max-width: 278px;
        width: 100%;
        margin-top: 1.375rem;
    }
}

.region-prc-copyright ul {
    display: flex;
    flex-direction: row;
    padding-inline: 0;
    margin-block: 0;
}


.region-logo-otsuka .default-content-wrapper p:first-child {
    max-width: 100px;
    width: 100%;
    margin-top: 0;
}

@media (width < 62em){
    .region-logo {
        width: 22%;
        min-height: 50px !important;
    }
}

@media (width < 48em){
.region-logo img{
    max-width: 100%;
    height: auto;
}
}
